.sideNavContainer {
  position: fixed;
  left: 0;
  top: 0;
  padding-top: 7vh;
  z-index: 0;
  width: 30%;
  height: 100vh;
  background-color: #87ced6;
  visibility: visible;
  opacity: 0;
  transition: opacity 0.6s ease, z-index 0s linear 0.6s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} 

.sideNavContainer.open {
  z-index: 10;
  opacity: 1;
  transition: opacity 0.6s ease, z-index 0s linear 0s;
}

.sideNavContainer h2{
  padding-top: 10px;  
  color:#2a2b40;
  margin-bottom: 0;
}

@media (max-width: 1000px){
  .sideNavContainer.open{
    width: 100%;
  }
  .sideNavContainer h2{
    font-size:16px;;
  }
}

.sideNavContainer .contentContainer {
  opacity: 0;
}

.sideNavContainer.open .contentContainer {
  opacity: 1;
}

.radioContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2vw;
  transition: all 0.3s ease;
}

.contentContainer {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 85%;
  height: 100vh;
  align-items: center;
}

.infoButton {
  background-color: none;
}

.infoButton:hover {
  cursor: pointer;
}

.ant-radio-button-wrapper-checked {
  font-weight: 600 !important;
  color: #2a2b40 !important;
  border-color: #2a2b40 !important;
}

.ant-radio-button-wrapper-checked:hover {
  color: gray !important;
}

.ant-radio-button-wrapper:hover {
  color: gray !important;
}

.ant-radio-button-wrapper:not(.ant-radio-button-wrapper-disabled)::before {
  background-color: #2a2b40 !important;
}

.ant-btn-default:not(:disabled):not(.ant-btn-disabled):hover{
  color: #2a2b40 !important;
  border-color: #2a2b40 !important;
}

label.ant-radio-button-wrapper {
  align-items: center;
}

.ant-btn-default:disabled{
  background-color: white !important;
}

label.ant-radio-button-wrapper{
  font-size: 14px !important;
}
