.selectors {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 210px;
  gap: 20px;
}

.button {
  width: 158px;
}

.selectContainer {
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: center;
  align-items: center;
  width: 210px;
}

.selectItem {
  height: 30px;
  background-color: #2a2b40;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  font-size: 14px;
  color: white;
  transition: all 0.3s ease;
  width: 90%;
}

.timeInfo {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
  width: 158px;
  align-items: center;
  justify-content: center;
  text-align: center;
  right: 0;
}

.timeInfo span{
  font-size: 20px;
}

.time, 
.time span{
  font-size:25px;
}

.time {
  display: flex;
  align-items: center; 
  justify-content: center;
  width: 150px;
  height: 150px;
  gap: 10px;
  border-radius: 50%;
  color: white;
}

.row {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: end;
  width:80%;
  justify-content: center;
  margin-top:20px;
}

.label {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
  max-width: 320px;
  width: 100%;
  justify-content: center;
}

.inputNumber {
  max-width: 158px;
}

.ant-slider-track{
  background-color: #2A2B40 !important;
}

.ant-slider-track:hover{
  background-color: gray !important;
}

.ant-slider-handle::after{
  box-shadow: 0 0 0 4px #2A2B40 !important;
}