.table-container {
    margin: 20px;
    overflow-x: auto;
    width: 80%;
}

table {
    border-collapse: collapse;
    width: 100%;
}

table, th, td {
    border: 1px solid #2a2b40;
}

th, td {
    text-align: left;
    padding: 8px;
}

th {
    background-color: #2a2b40;
}

tr{
    background-color:white;
}

td{
    color: #2a2b40;
}