.departure_Timetable {
  background-color: #2a2b40;
  color: #fff;
  text-align: left;
  font-size: small;
  width: 100%;
  border-collapse: collapse;
}
h2.departure_Timetable {
  padding-bottom: 2vmin;
  padding-left:1vmin;
  padding-top: 1vmin;
  padding-right: 2vmin;
  width: 80%;
  color:white;
}
/* .trainNumber {
  color: #000082;
  background-color: #fff;
} */
.departure_Timetable table{
  max-height: 80%;
  overflow-y: scroll;
}
.departure_Timetable td,
.departure_Timetable th {
  padding-left: 1vmin;
  padding-right: 1vmin;
  font-weight: lighter;
}
.departure_Timetable th {
  padding-left: 1vmin;
  padding-right: 1vmin;
  font-weight: normal;
}

.departure_Timetable tr:hover {
  background-color: #5454af;
}

table.departure_Timetable tbody tr.selected td {
  background-color: #b32428;
  color: white;
}

@media (max-width: 1000px) {
  .departure_Timetable .statusColumn {
    display: none; /* Hide status column on smaller screens */
  }
}

.select-search{
  color:white;
}