.departure_Timetable {
  background-color: #2a2b40;
  color: #fff;
  text-align: left;
  font-size: small;
  width: 100%;
  border-collapse: collapse;
  border-radius: 5px;
  padding:2px;
}
h2.departure_Timetable {
  padding-bottom: 2vmin;
  padding-left:1vmin;
  padding-top: 2vmin;
  padding-right: 2vmin;
  margin-top: 0;
  width: 80%;
  color:white !important;
  font-size: 18px;
  font-weight: 400;
}

.departure_Timetable tbody,
.departure_Timetable thead {
    display: block;
}

.departure_Timetable thead {
    width: 100%;
}
.departure_Timetable table{
  height:fit-content;
  max-height: 350px;
}

.departure_Timetable tbody{
  height:fit-content;
  overflow-y: auto;
  max-height: 320px;
  overflow-x: hidden;
}




.departure_Timetable td,
.departure_Timetable th {
  padding-left: 1vmin;
  padding-right: 1vmin;
  font-weight: light;
}
.departure_Timetable th {
  padding-left: 1vmin;
  padding-right: 1vmin;
  font-size: 15px;
  font-weight: 400;
}

.departure_Timetable tr:hover {
  background-color: #29c7d9;
}

.departure_Timetable tr.selected {
  background-color: #f26444;
  color: white;
}

@media (max-width: 1200px) {
  .departure_Timetable .statusColumn {
    display: none; /* Hide status column on smaller screens */
  }
  .departure_Timetable table{
    max-height: 280px;
  }
  
  .departure_Timetable tbody{
    max-height: 260px;
  }
}
@media (max-width: 1300px) {
    .departure_Timetable .statusColumn {
      display: none; /* Hide status column on smaller screens */
    }
    .departure_Timetable table{
      max-height: 240px;
    }
    
    .departure_Timetable tbody{
      max-height: 210px;
    }
  }

.select-search{
  color:white;
}

.column_1{
  width: 40px;
}
.column_2{
  width: 60px;
}
.column_3{
  width: 130px;
} 