.header {
  height: 7vh;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 100;
}

.navigation {
  height: 7vh;
}

.topNavBar {
  background-color: #2a2b40;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.topLeftNav{
  display: flex;
  align-items: center;
  flex-direction: row;
}

.burgerMenu {
  font-size: 24px;
  cursor: pointer;
  color: white;
  z-index: 10;
  margin-right: 20px;

}

.topNavList {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  align-items: center;
}

.topNavItem {
  margin-left: 20px;
}

.topNavLink {
  color: white;
  text-decoration: none;
  padding: 10px;
  transition: all 0.3s ease;
}

.topNavLink:hover {
  color: #2a2b40;
  background-color: #c9eef2;
  border-radius: 4px;
}

.infoButton {
  background-color: none;
}

.infoButton:hover {
  cursor: pointer;
}

.topNavLink.active {
  text-decoration: underline;
}

.homeLink{
  font-weight: bold;
}

.homeLink.active{
  text-decoration: none;
.closeIcon {
  width: 20px;
}

.closeIcon:hover {
  opacity: 0.8;
}
