.infoPage {
  min-height: 87vh;
  padding: 20px;
}


.history-boxes {
  display: flex;
  display:row;
  flex-wrap: wrap;
  margin-bottom: 2rem;
  justify-content: center;
}

.history-box {
  margin: 0.5rem;
  padding: 1rem;
  border: 1px solid #ddd;
  border-radius: 4px;
  display: inline-block;
  width: calc(100vw/3.5); 
  text-align: left; 
}

.history-box h3 {
  margin-bottom: 0.5rem;
}

.sourcetext {
  font-size: 10px;
}

.image-text-container1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0.5rem;
  /*flex-direction: column;*/
}

.img {
  width: 60%; 
  margin-right: 1rem; 
  border: 5px solid #2a2b40;
}


.text-content1 {
  width: 40%;
  flex: 1; 
  padding: 1rem;
  text-align: left;
}




.image-text-container2 {
  display: flex;
  align-items: center;
  padding: 0.5rem;
  flex-direction: row;
}

.img {
  width: 50%; 
  margin-right: 1rem; 
  border: 5px solid #2a2b40;
}

.text-content2 {
  width: 50%;
  flex: 1; 
  padding: 1rem;
  text-align: left;
}


.bullet-list {
  list-style-type: disc; 
  padding-left: 30px; 
  text-align: left; 
  margin: 0; 
}

.bullet-list li {
  margin-bottom: 5px; 
}


/*breakpoint bei 800px*/
@media screen and (max-width: 800px) {
  .image-text-container1, .image-text-container2, .history-boxes{
    flex-direction: column;
  }

  .text-content1, .text-content2, .history-box, .img{
    width: 90%;
  }
}